body {
  background-color: rgb(27, 24, 24);
  color: white;

  font-family: sans-serif;
  font-size: 14px;
}

html,
body {
  border: 0;
  margin: 0;
}

body {
  margin: 12px;
}

node[name='Directory'] {
  color: rgb(121, 121, 255);
}

node[name='String'] {
  color: rgb(162, 207, 28);
}

node[name='StringContent'] {
  color: rgb(162, 207, 28);
}

node[name='TemplateString'] > node.token {
  color: rgb(162, 207, 28);
}

.output {
  margin-left: 16px;
}

.return {
  height: 20px;
  padding: 2px 4px;
}

.return > .message:not(:empty) {
  background-color: #434343;
  padding: 2px 4px;
}

.return.failed > .message {
  background-color: #843030;
}

.return:not(.running):not(.done) {
  background-color: transparent;
}

.return.running > .status,
.return.done > .status {
  width: 8px;
  height: 8px;
  margin-right: 8px;
  border-radius: 4px;
  display: inline-block;
  background-color: rgb(116, 116, 116);
}

.return.done:not(.failed) > .status {
  background-color: rgb(0, 134, 16);
}

.return.done.failed > .status {
  background-color: rgb(187, 20, 45);
}
